.skills-page {
    background-color: bisque;
    flex-direction: column;
    justify-content: space-evenly;
}

.skills-page>.center-box {
    margin-top: 10%;
}

.skills {
    width: 25vw;
    transform: translateX(15vw);
    opacity: 0;
}

.skills>h3 {
    margin-top: 0;
}

.part-skills-and-about {
    display: flex;
    text-align: start;
    margin-bottom: 200px;
}

.about {
    width: 40vw;
    font-size: 2vh;
    margin-right: 50px;
    text-align: justify;
}

.about a,
.about p {
    font-size: 2vh;
}

.basic-skills>span,
.additional-skills>span {
    border: 2px solid;
    border-radius: 25px;
    border-color: #7b742c;
    margin: 0 4px 4px;
    padding: 5px 15px;
    font-size: 1.7vh;
    color: #7b742c;
}

.basic-skill,
.additional-skill {
    display: inline-block;
    margin: 0 auto;
}

.skills-active {
    transition: all 0.5s linear;
    opacity: 1;
    transform: translateX(0);
}

.skills-page h1 {
    margin-bottom: 200px;
}

@media screen and (max-width: 600px) {
    .part-skills-and-about {
        width: 80vw;
        flex-direction: column;
    }

    .about {
        width: 100%;
    }
    
    .skills {
        width: 100%;
    }
}