.projects {
    min-height: 75vh;
    margin: 0 auto;
    color: navy;
    overflow: hidden;
}

.project-h {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

.projects h1 {
    margin: 0;
    margin-bottom: 20px;
}

.smalltalks-about-projects {
    width: 50vw;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 2vh;
}

.projects p,
.project span {
    font-size: 2vh;
}

.list-of-projects {
    display: flex;
    flex-direction: column;
    width: 70vw;
    margin: 0 auto;
    
}

.project {
    text-align: center;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 15px;
    opacity: 0;
    transform: translateY(-10vh)
}

.link-to-project {
    width: auto;
    margin-right: 0;
    text-align: end;

}

.link-to-project a {
    font-size: 2vh;
    font-weight: 100;
    text-decoration: underline;
    background: none;
}

.projects-tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.project-active {
    transition: all 0.5s linear;
    opacity: 1;
    transform: translateX(0);
}

.projects-tech span {
    display: inline-block;
    margin: 0 4px 4px;
    border: 2px solid;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 1.7vh;
}

.about-project {
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .smalltalks-about-projects {
        width: 75vw;
    }
}